#macarte{
    height:400px;
    width: 500px;
}

body{
    background-color: #333;
    color: #ffffd4;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    margin-top: 5%;
    margin-left: 5%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.button{
    background-color: grey;
    color: white;
    border: none;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 2rem;
}

.type {
    display: none;
}