body{
    background-color: #333;
    color: #ffffd4;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    margin-top: 5%;
    margin-left: 5%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1{
    color: #FFCC00;
}

.logo{
    padding-right: 20%;
}

.map__image{
    width: 40%;
    padding-left: 50%;
}

.map__image path{
    fill: #f2f2f21e;
    stroke:#fff;
    stroke-width: 1px;
    transition: fill 0.3s;
}

.map__image path:hover{
    fill:rgb(56, 172, 240);
}

.button{
    background-color: grey;
    color: white;
    border: none;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 2rem;
}

.img_chasse1{
    padding-right: 100%;
}

.type {
    display: none;
}