<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename = 'style.css')}}">
    <title>Creer un compte</title>
</head>
<body>
    <h2>Créer un compte :</h2>
    <p></p>
    <form action="/chasseur" method="POST">
        <label for="diane">diane :</label>
        <p><select name="diane" id="diane">
            <option value="">-- choisir diane --</option>
            {%for r in diane %}
            <option value="{{r[0]}}">{{r[0]}}</option>
            {%endfor%}
        </select></p>
        <label for="select_nom">Nom :</label>
        <p><select name="select_nom" id="sn">
            <option value="">-- choisir nom --</option>
        </select></p>
        <label for="num_permis">numéro de chasseur :</label>
        <p><input type="text" name="num_permis"></p>
        <label for="mdp">Mot de passe :</label>
        <p><input type="password" name="mdp"></p>
        <label for="mdp2">Verification du mdp:</label>
        <p><input type="password" name="mdp2"></p>
        <input class="button" type="submit" value="Valider">
    </form>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    <script src="{{url_for('static', filename='log_chass.js')}}"></script>

</body>
</html>