<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename = 'index.css')}}">
    <title>RandoChasse</title>
</head>
<body>
<header style="background-image: url({{url_for('static', filename = 'carte.png')}});">
<!--  <img src="{{url_for('static', filename = 'carte.png')}}" alt="" width="100%">-->
  <img src="{{url_for('static', filename = 'groin_groin.png')}}" alt="">
</header>
    <nav class="side-nav">
        <div class="wrapper">
          <div class="nav-bloc n-1">
            <svg
              aria-hidden="true"
              focusable="false"
              data-prefix="fas"
              data-icon="user-alt"
              class="svg-inline--fa fa-user-alt fa-w-16"
              role="img"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 512 512">
              <path d="M256 288c79.5 0 144-64.5 144-144S335.5 0 256 0 112 64.5 112 144s64.5 144 144 144zm128 32h-55.1c-22.2 10.2-46.9 16-72.9 16s-50.6-5.8-72.9-16H128C57.3 320 0 377.3 0 448v16c0 26.5 21.5 48 48 48h416c26.5 0 48-21.5 48-48v-16c0-70.7-57.3-128-128-128z"></path>
            </svg>
            <div class="sub-nav">
              <h2>Connexion</h2>
              <ul>
                <li><a href="/log_chasseur">Se connecter en tant que chasseur</a></li>
                <li><a href="/deconnexion">Se déconnecter</a></li>
              </ul>
            </div>
          </div>
          <div class="nav-bloc n-2">
            <svg
              aria-hidden="true"
              focusable="false"
              data-prefix="far"
              data-icon="image"
              class="svg-inline--fa fa-image fa-w-16"
              role="img"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 512 512"
            >
              <path
                d="M464 64H48C21.49 64 0 85.49 0 112v288c0 26.51 21.49 48 48 48h416c26.51 0 48-21.49 48-48V112c0-26.51-21.49-48-48-48zm-6 336H54a6 6 0 0 1-6-6V118a6 6 0 0 1 6-6h404a6 6 0 0 1 6 6v276a6 6 0 0 1-6 6zM128 152c-22.091 0-40 17.909-40 40s17.909 40 40 40 40-17.909 40-40-17.909-40-40-40zM96 352h320v-80l-87.515-87.515c-4.686-4.686-12.284-4.686-16.971 0L192 304l-39.515-39.515c-4.686-4.686-12.284-4.686-16.971 0L96 304v48z"
              ></path>
            </svg>
            <div class="sub-nav">
              <h2>Ma carte</h2>
              <ul>
                <li><a href="/carte">accéder a la carte</a></li>
              </ul>
            </div>
          </div>
          <div class="nav-bloc n-3">
          <svg 
              aria-hidden="true" 
              focusable="false"
              data-prefix="fas"
              data-icon="cog"
              class="svg-inline--fa fa-cog fa-w-16"
              role="img"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 512 512"
            >
          <path d="M487.4 315.7l-42.6-24.6c4.3-23.2 4.3-47 0-70.2l42.6-24.6c4.9-2.8 7.1-8.6 5.5-14-11.1-35.6-30-67.8-54.7-94.6-3.8-4.1-10-5.1-14.8-2.3L380.8 110c-17.9-15.4-38.5-27.3-60.8-35.1V25.8c0-5.6-3.9-10.5-9.4-11.7-36.7-8.2-74.3-7.8-109.2 0-5.5 1.2-9.4 6.1-9.4 11.7V75c-22.2 7.9-42.8 19.8-60.8 35.1L88.7 85.5c-4.9-2.8-11-1.9-14.8 2.3-24.7 26.7-43.6 58.9-54.7 94.6-1.7 5.4.6 11.2 5.5 14L67.3 221c-4.3 23.2-4.3 47 0 70.2l-42.6 24.6c-4.9 2.8-7.1 8.6-5.5 14 11.1 35.6 30 67.8 54.7 94.6 3.8 4.1 10 5.1 14.8 2.3l42.6-24.6c17.9 15.4 38.5 27.3 60.8 35.1v49.2c0 5.6 3.9 10.5 9.4 11.7 36.7 8.2 74.3 7.8 109.2 0 5.5-1.2 9.4-6.1 9.4-11.7v-49.2c22.2-7.9 42.8-19.8 60.8-35.1l42.6 24.6c4.9 2.8 11 1.9 14.8-2.3 24.7-26.7 43.6-58.9 54.7-94.6 1.5-5.5-.7-11.3-5.6-14.1zM256 336c-44.1 0-80-35.9-80-80s35.9-80 80-80 80 35.9 80 80-35.9 80-80 80z"
          ></path>
          </svg>
          <div class="sub-nav">
              <h2>Subtitle 4</h2>
              <ul><li><a >Link</a></li></ul>
          </div>
        </div>
        </div>
      </nav>
      <main class="main-content">
        <h1>Rando -- Chasse</h1>
        <p>
        <ul>
        <li>Préparez votre sortie rando en toute sérenité. Notre   <a href="/carte">carte interactive</a> vous offre une visibilité jour par jour sur les parcelles où une chasse est planifiée.</li>
        <li>Vous désirez signaler une battue. <a href="/log_chasseur">Connectez-vous</a> avec les identifiants remis par votre Diane.</li>  
      </ul>
    </p>  
          <!-- Ce site web vise a aider les randonneur a ne pas se retrouuver au millieu d'une chasse afin 
          d'éviter tout accident ou conflits grâce aux chasseur qui renseigne sur la carte disponible 
          leurs lieu de chasse 24h a l'avance !! -->
        </ul>
          <p><div id="type" class="type">{{type}}</div></p>
      </main>
    <p></p>
    <script src="{{url_for('static', filename='log_chass.js')}}"></script>
</body>
</html>