<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename = 'style.css')}}">
    <title>Se connecter</title>
</head>
<body>
    <form action="/chasseur" method="POST">
        <label for="select_diane">Diane :</label>
        <p><select name="select_diane" id="diane">
            <option value="">-- choisir diane --</option>
            {%for r in diane %}
            <option value="{{r[0]}}">{{r[0]}}</option>
            {%endfor%}
        </select><p></p>
    <p><label for="select_nom">Nom :</label></p>
    <select name="select_nom" id="sn">
        <option value="">-- choisir nom --</option>
    </select>   
    <p><label for="mdp">mot de passe :</label></p>
    <p><input type="password" name="mdp1"></p>
    <input class="button" type="submit" value="valider">    
</form>   
<p><div id="type" class="type">{{type}}</div></p>
    <p><a class="button" href="/create_login_chass">Pas encore de compte ?</a></p>    
</div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    <script src="{{url_for('static', filename='log_chass.js')}}"></script>

</body>
</html>