<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
    crossorigin=""/>
    <link rel="stylesheet" href="{{url_for('static', filename = 'map.css')}}">
    
</head>
<body>
    <div id="macarte"></div>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
    crossorigin=""></script>
    <form action="/test" method="POST">
    <p></p>
    <div id="zone_selec"></div>
    <p></p>
    <p>
        Zone de chasse selectionner :
        <input type="text "id="result" name="nom"/>
    </p>
    <select name="date_chasse" id="date_chasse">
        {% for d in select_date %}
        <option value="{{d}}">{{d}}</option>
        {% endfor %}
     </select>
     <p></p>
    <input class="button" type="submit" value="valider">
    </form>
    <p><div id="type" class="type">{{type}}</div></p>
    <p><div id="h">{{h}}</div></p>
    <p><div id="parcelle_chasser">{{parcelle_chasser}}</div></p>
    <p><div id="date">{{date}}</div></p>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    <script src="{{url_for('static', filename = 'map_chasse.js')}}">
    </script>
</body>
</html>